$gray: #999;
$lightGray: #eee;
$blue: #656f8c;
$black: #211426;
$red: #f00;

body {
    padding: 0;
    margin: 0;
    color: $black;
    font-family: Georgia, serif;
}
header, section, footer {
    padding: 10px 20px;
    margin: 0;
}
header, footer {
    background: $lightGray;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: $blue;
}
form, pre, strong {
    display: block;
    padding: 1ex 0;
}
a, input[type=submit] {
    background: $lightGray;
    color: $black;
    &:hover, &:focus {
        cursor: pointer;
        color: $lightGray;
        background: $black;
        header & {
            background: transparent;
        }
    }
}

form {
    label {
        span {
            display: block;
            padding: 1ex 0 0.5ex 0;
        }
        .help {
            font-size: 0.8em;
            color: $gray;
        }
    }
    textarea, input, select {
        padding: 1ex;
    }
    textarea {
        display: block;
        width: 100%;
    }
    input[type=submit] {
        border: 1px solid $blue;
    }
}

pre {
    strong {
        color: $red;
        display: inline;
    }
}

.wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#comparison {
    padding-bottom: 1em;
    section {
        float: left;
        width: 40%;
        &:first-of-type {
            border-right: 1px solid $lightGray;
        }
    }
    h2 {
        color: $black;
    }
    &:after {
        display: block;
        content: " ";
        clear: both;
    }
}

footer {
    span {
        display: inline-block;
        margin-right: 2em;
    }
}